main6/diplomat/dev/src/java/com/globalsight/resources/xml/dcr4.5.dtd

<!ELEMENT record (item*) >
	<!ATTLIST record
	  type	(metadata|content|workflow)	#REQUIRED
	  name	CDATA				#REQUIRED
	  >

<!ELEMENT item (value*) >
	<!-- items are enumerations of values -->
	<!ATTLIST item
	  name	CDATA		#REQUIRED
	  >

<!ELEMENT value  (#PCDATA|item)* >
	<!-- values are either CDATA or a vector of items     -->
	<!-- this DTD is actually looser than what is allowed -->
